body {
    min-height: 100vh;
}

header {
    min-height: 20vh;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 3rem auto;
    width: 90%;

}



div {
    /* width: fit-content; */
    margin-top: 5vh;
    width: 28%;
    height: fit-content;
}

footer {
    margin-top: 10rem;
    clear: both;
}